<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>somename</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cdbdf5">  <td>19/01/30 13:29:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initiator.setUp(java.lang.reflect.Method)[pri:0, instance:com.tests.SampleTest@612fc6eb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2050404090</td>   <td></td> </tr>
<tr bgcolor="729b7e">  <td>19/01/30 13:29:44</td>   <td>13369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.VerifySliderFilter()[pri:0, instance:com.tests.SampleTest@612fc6eb]">VerifySliderFilter</td> 
  <td>main@2050404090</td>   <td></td> </tr>
</table>
