<h2>Reporter output</h2><table><tr><td>[13:29:44] : <b><FONT SIZE="2">Portable Page loaded</FONT></b><br></td></tr>
<tr><td>[13:29:44] : <b><FONT SIZE="2">Verifying Job site Page</FONT></b><br></td></tr>
<tr><td>[13:29:45] : <b><FONT SIZE="2">Verifying Generator Page</FONT></b><br></td></tr>
<tr><td>[13:29:51] : <b><FONT SIZE="2">Verifying that slider is visble in generators Page </FONT></b><br></td></tr>
<tr><td>[13:29:51] : <b><FONT SIZE="2">drag the slider to certain range</FONT></b><br></td></tr>
<tr><td>[13:29:56] : <b><FONT SIZE="2">Retrieve the slider min range by draging the slider and get the range value: 2 kW</FONT></b><br></td></tr>
<tr><td>[13:29:56] : <b><FONT SIZE="2">Verify that Product category grid is loaded based on slider range</FONT></b><br></td></tr>
<tr><td>[13:29:56] : <b><FONT SIZE="2">Get the Max power text of product:Max Power 12.3 kW</FONT></b><br></td></tr>
<tr><td>[13:29:56] : <b><FONT SIZE="2">Get the Max power text of product:Max Power 5 kW</FONT></b><br></td></tr>
<tr><td>[13:29:56] : <b><FONT SIZE="2">Get the Max power text of product:Max Power 5.2 kW</FONT></b><br></td></tr>
<tr><td>[13:29:56] : <b><FONT SIZE="2">Get the Max power text of product:Max Power 6.4 kW</FONT></b><br></td></tr>
<tr><td>[13:29:56] : <b><FONT SIZE="2">Get the Max power text of product:Max Power 6.4 kW</FONT></b><br></td></tr>
<tr><td>[13:29:56] : <b><FONT SIZE="2">Get the Max power text of product:Max Power 7.5 kW</FONT></b><br></td></tr>
<tr><td>[13:29:56] : <b><FONT SIZE="2">Get the Max power text of product:Max Power 9 kW</FONT></b><br></td></tr>
<tr><td>[13:29:56] : <b><FONT SIZE="2">Get the Max power text of product:Max Power 9 kW</FONT></b><br></td></tr>
<tr><td>[13:30:01] : <b><FONT SIZE="2">Verifying that slider is visble in generators Page </FONT></b><br></td></tr>
<tr><td>[13:30:01] : <b><FONT SIZE="2">drag the slider to certain range</FONT></b><br></td></tr>
<tr><td>[13:30:06] : <b><FONT SIZE="2">Retrieve the slider min range by draging the slider and get the range value: 2 $</FONT></b><br></td></tr>
<tr><td>[13:30:06] : <b><FONT SIZE="2">Verify that Product category grid is loaded based on slider range</FONT></b><br></td></tr>
<tr><td>[13:30:06] : <b><FONT SIZE="2">Get the Max power text of product:Max Power 1.8 kW</FONT></b><br></td></tr>
<tr><td>[13:30:06] : <b><FONT SIZE="2">Get the Max power text of product:Max Power 12.3 kW</FONT></b><br></td></tr>
<tr><td>[13:30:06] : <b><FONT SIZE="2">Get the Max power text of product:Max Power 5 kW</FONT></b><br></td></tr>
<tr><td>[13:30:06] : <b><FONT SIZE="2">Get the Max power text of product:Max Power 5.2 kW</FONT></b><br></td></tr>
<tr><td>[13:30:06] : <b><FONT SIZE="2">Get the Max power text of product:Max Power 6.4 kW</FONT></b><br></td></tr>
<tr><td>[13:30:06] : <b><FONT SIZE="2">Get the Max power text of product:Max Power 6.4 kW</FONT></b><br></td></tr>
<tr><td>[13:30:06] : <b><FONT SIZE="2">Get the Max power text of product:Max Power 7.5 kW</FONT></b><br></td></tr>
<tr><td>[13:30:06] : <b><FONT SIZE="2">Get the Max power text of product:Max Power 9 kW</FONT></b><br></td></tr>
<tr><td>[13:30:06] : <b><FONT SIZE="2">Get the Max power text of product:Max Power 9 kW</FONT></b><br></td></tr>
<tr><td>[13:30:06] : <b><FONT SIZE="2">Product category page is updated successfully</FONT></b><br></td></tr>
<tr><td>Test completed : VerifySliderFilter</td></tr>
</table>