<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>PortablePage</td><td>SampleTest.verifyPortableHomePage()[pri:0, instance:com.tests.SampleTest@1e7c7811]<br/></td></tr>
</table>
