<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c65a2">  <td>19/01/21 11:30:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initiator.setUp(java.lang.reflect.Method)[pri:0, instance:com.tests.SampleTest@1e7c7811]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1859039536</td>   <td></td> </tr>
<tr bgcolor="b5ab66">  <td>19/01/21 11:30:53</td>   <td>25413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.verifyPortableHomePage()[pri:0, instance:com.tests.SampleTest@1e7c7811]">verifyPortableHomePage</td> 
  <td>main@1859039536</td>   <td></td> </tr>
</table>
